<HTML>
<HEAD>
</HEAD>
{{ message }}
<H1>
Event Admin Page
</H1>
<H1>
Current Events
</H1>
{% for event in events %}
  <div>
  <div style="float:left;">
  <a href="{{ url_for('show_event') }}?{{event.event_name}}">Register to {{ event.event_name }}</a>
  , date: {{ event.event_date_text }}
  </div>
  <div style="float:right;">
  <a href="{{ url_for('show_participants', event) }}">Show participants for {{ event.event_name }}</a>
  <P>
  </div>
  </div>
{% endfor %} 

<H1>
Event Managent
</H1>
<FORM action="{{ url_for('event') }}" method="post"> 
Name of event: <INPUT type="text" name="event_name"><P>
Date of event: <INPUT type="text" name="event_date_text"><P>

<INPUT type="submit" value="Add event">
</FORM>
</HTML>
